/* CSS Document */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(../fonts/MaterialIcons-Regular.woff2) format('woff2'),
    url(../fonts/MaterialIcons-Regular.woff) format('woff'),
    url(../fonts/MaterialIcons-Regular.ttf) format('truetype');
}
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,300;0,400;0,700;1,400;1,700&display=swap');
$fontfam: 'Lato', Roboto, sans-serif;
$fontfam2: 'Karla', sans-serif;
@import 'effect';
@import 'embed';
:root {
  --color1: #eab076;
  --color2: #1d1f28;
  --color3: #7a8099;
  --color4:#292c39;
  --colorok: #13ff13;
  --colorerror: #ff1313;
  --whitecolor: #fff;
  --colorlink: #2c6cb7;
  --spacing: 30px;
  --colortablehead: #e4e4e4;
  --bs-gutter-x: 1.5rem;
  --ratio:1;
}
.error {color: var(--colorerror) !important;}
.green {color: var(--colorok) !important;}
.gold {color: var(--color1) !important;}
.blue {color: var(--colorlink) !important;}
.main {color: var(--color1) !important;}
body {font-family: $fontfam;font-size: 14px;font-weight: 400;color: var(--whitecolor);background-color:var(--color2);}
* {outline: none;box-sizing: border-box;padding: 0;margin: 0;}
a {text-decoration: none;transition: all 0.3s ease-in-out !important;}
button {transition: all 0.7s ease-in-out !important;}
a:hover {text-decoration: none;}
.container{width: 100%;}
.mb{display: none;max-width: 640px;margin: 0 auto;}
.desktop{display: block;}

/*====Navigation====*/
.navigation-fix{position: fixed;height: 100vh;left: 0;top: 0;z-index: 2;width: 331px;border-right:1px solid #292c38;box-shadow:2px 0px 3px rgba(0, 0, 0, 0.1);
  .nav-main{display: flex;justify-content: space-between;height: 100%;align-items: center;align-content: center;flex-direction: column;
    .topnav{width: 80%;
      ul{
        li{background-color: transparent;
          a{color: var(--color3);display: flex;align-items: center;
            &:hover{color: var(--whitecolor);}
            .material-icons-outlined{font-size: 16px;}
          }
          a.active{color: var(--whitecolor);}
        }
      }
    }
    .botnav{display: flex;align-items: center;justify-content: space-between;align-content: center;width: 100%;
      .user-info{
        .user-ava{object-fit: none;border-radius: 100%;width: 65px;height: 65px;

        }
      }
      a.setting{color: var(--color3);
        &:hover{color: var(--whitecolor);}
      }
    }
  }
}

/*==Maincontent==*/
.maincontent{margin-left: 331px;
  .topbar{display: flex;justify-content: space-between;align-items: center;
    .btn-signup{background-color: var(--color1);}
    .text-sign{color: var(--color3);}
    .right-bar{display: flex;
      .friendonline{display: flex;align-items: center;
        .ava{position: relative;
          &::before{position: absolute;content: "";width: 10px;height: 10px;background-color: var(--colorok);border-radius: 50%;top: 0;left: 0;}
          img{object-fit: cover;width: 42px;height: 42px;border: 2px solid #000;}
        }
        .ava.fit{transform: translateX(-5px);}
        .countfriend{background-color: var(--color3);color: var(--whitecolor);width: 42px;height: 42px;border: 2px solid #000;align-items: center;display: flex;justify-content: center;transform: translateX(-10px);font-weight: 700;}
      }
      .search, .favourite{display: flex;align-items: center;justify-content: center;position: relative;
        a{color: var(--color3);
          &:hover{color: var(--whitecolor);}
        }
      }
      .favourite a{position: relative;
        &::before{content: "";width: 10px;height: 10px;border-radius: 50%;background-color: var(--colorerror);position: absolute;top: 0;right: 0;}
      }
    }
  }

  .showdemo{background-color: #232631;border-radius:calc(30px * var(--ratio));
    .show{border-radius:calc(30px * var(--ratio));transition: all 0.3s ease-in-out !important;border:1px solid #232631;cursor: pointer;
      ul{list-style: none;
        li{display: flex;align-items: center;
          span{font-size:calc(24px * var(--ratio)) !important;}
        }
        li.fs-6{font-size: calc(20px * var(--ratio)) !important;}
      }
      &:hover{border: 1px solid var(--color3);}
    }
  }
  
}




.togglesearch{position:absolute;top:74px;right:8%;width:350px;height:60px;display:none;}
.togglesearch:before{content:"";position:absolute;top:-30px;right:23px;border-left:12px solid transparent;border-right:12px solid transparent;border-top:14px solid transparent;border-bottom:14px solid var(--color1)}
.togglesearch input[type="text"]{width:270px;padding:10px 10px;border:1px solid var(--color1);outline:none}
.togglesearch input[type="button"]{width:80px;padding:10px 0;background:var(--color1);color:var(--color2);margin-left:-6px;border:1px solid var(--color1);outline:none;cursor:pointer}

.slider{border-radius:calc(20px * var(--ratio));width: 100%;overflow: hidden;position: relative;background-color:#292c39;
  .carousel{
    .carousel-indicators{justify-content: end;margin-right:3%;
      button[type=button]{width:calc(30px * var(--ratio));height: calc(10px * var(--ratio));border-radius: 5px;border: none;background-color: var(--color2);}
      button.active{background-color: var(--whitecolor);width:calc(60px * var(--ratio));}
    }
  }
  .popular{position: absolute;z-index: 3;margin-top:1rem;margin-left:2%;top: 0;left: 0;background-color: var(--colorerror);border-radius: calc(30px * var(--ratio));}
  .friends{position: absolute;z-index: 3;margin-bottom:1rem;margin-left:2%;bottom: 0;left: 0;
    .friendonline{display: flex;align-items: center;
      .ava{position: relative;
        &::before{position: absolute;content: "";width: 10px;height: 10px;background-color: var(--colorok);border-radius: 50%;top: 0;left: 0;}
        img{object-fit: cover;width: 42px;height: 42px;border: 2px solid #000;}
      }
      .ava.fit{transform: translateX(-5px);}
      .countfriend{background-color: #000;color: var(--whitecolor);height: 42px;border: 2px solid #000;align-items: center;display: flex;justify-content: center;transform: translateX(-10px);font-weight: 700;}
    }
  }
}

.newshot{border-radius:calc(20px * var(--ratio));width: 100%;overflow: hidden;position: relative;background-color:#292c39;
  p{color: var(--color3);}
  .rank{display: flex;align-items: center;justify-content: start;align-content: center;background-color: #5b6078;width: 45%;border-radius:calc(15px * var(--ratio));
    i.fa{background-color: var(--colorok);border-radius: 10%;color: var(--color2);}
    h5{display: flex;flex-direction: column;
      span.point{color: var(--color3);}
    }
  }
}
.img-bv{width: 100%;height: 135px;border-radius: calc(20px * var(--ratio));display: block;overflow: hidden;position: relative;
  img{display: flex;justify-content: center;width: 100%;object-fit: cover;}
  span.frame2{position: absolute;z-index: 4;width: 100%;height: 100%;background-color: rgba(0, 0, 0, 0.6);top: 0;left: 0;display: flex;align-items: center;justify-content: center;flex-direction: column;color: var(--whitecolor);transition: all 0.3s ease-in-out;
    strong{font-weight: 400;}
  }
  &:hover{filter: brightness(110%);
    span.frame2{background-color: rgba(0, 0, 0, 0.7);}
  }
}

.news2{
  .game{border-radius:calc(20px * var(--ratio));width: 100%;overflow: hidden;position: relative;background-color:#292c39;display: flex;
    .playgame{position: absolute;z-index: 4;bottom: 1rem;right: 2rem;background-color: var(--colorlink);border-radius:calc(20px * var(--ratio));transition: all 0.3s ease-in-out;
      &:hover{filter: brightness(120%);}
    }
    .ava-game{width: calc(150px * var(--ratio));height:calc(150px * var(--ratio));border-radius: calc(20px * var(--ratio));}
    .rightgame{position: relative;
      p{color: var(--color3);}
      .friendonline{display: flex;align-items: center;
        .ava{position: relative;
          &::before{position: absolute;content: "";width: 10px;height: 10px;background-color: var(--colorok);border-radius: 50%;top: 0;left: 0;}
          img{object-fit: cover;width: 42px;height: 42px;border: 2px solid #000;}
        }
        .ava.fit{transform: translateX(-5px);}
        .countfriend{background-color: var(--color2);color: var(--whitecolor);width: 42px;height: 42px;border: 2px solid #000;align-items: center;display: flex;justify-content: center;transform: translateX(-10px);font-weight: 700;}
      }
    }
  }
}

/*==Mobile Content==*/
.topbar-mb{display: flex;position: relative;justify-content: space-between;align-items: center;
  a.logomb{
    img{max-width:calc(100% * 1.2 * var(--ratio));}
  }
  .usermb{
    a{display: flex;align-items: center;color: var(--whitecolor);position: relative;
      span{font-size: calc(35px * var(--ratio));font-weight: 400;}
      span.avamb{display: block;position: relative;
        img{max-width: 100%;object-fit: cover;width: calc(100px * var(--ratio));height:  calc(100px * var(--ratio));border-radius: 50%;position: relative;}
        &::before{position: absolute;content: "";width: calc(20px * var(--ratio));height: calc(20px * var(--ratio));background-color: var(--colorok);border-radius: 50%;top: 0;left: 0;z-index: 5;}
      }
      
    }
  }
}

.searchmb{width: 95%;margin: 0 auto;;
  input{color: var(--color3);}
  .input-elevated{font-size:16px;line-height:1.5;border:none;background:var(--color4);background-image:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20'><path fill='%23838D99' d='M13.22 14.63a8 8 0 1 1 1.41-1.41l4.29 4.29a1 1 0 1 1-1.41 1.41l-4.29-4.29zm-.66-2.07a6 6 0 1 0-8.49-8.49 6 6 0 0 0 8.49 8.49z'></path></svg>");background-repeat:no-repeat;background-position:10px 10px;background-size:20px 20px;box-shadow:0 2px 4px 0 rgba(0,0,0,0.08);border-radius:50px;width:100%;padding:.5em 1em .5em 2.5em;}
  .input-elevated::placeholder{color:#838D99}
  .input-elevated:focus{outline:none;box-shadow:0 4px 10px 0 rgba(0,0,0,0.16)}
  .btn3{list-style: none;display: flex;align-items: center;justify-content: center;align-content: center;padding:0;
    li{
      a.btn{border-radius: 30px;background-color: var(--colorlink);font-size: calc(1.3rem * var(--ratio));
        .ico{font-size: 14px;}
        &:hover{filter: brightness(120%);}
      }
    }
  }
}

.title-spec{text-transform: uppercase;}
.specialnews{
  .swiper{
    .btn-icon{width:100%;height: 100%;
      .icon-spec{max-width: 100%;border-radius:calc(20px * var(--ratio));display: block;}
    }
  }
}
.featured{border-radius:calc(30px * var(--ratio));overflow: hidden;
  .swiper{width:100%;height:100%;}
  .swiper-slide{text-align:center;font-size:18px;background:#fff;display:-webkit-box;display:-ms-flexbox;display:-webkit-flex;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;-webkit-justify-content:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;-webkit-align-items:center;align-items:center;position: relative;}
  .swiper-slide img{display:block;width:100%;height:100%;object-fit:cover}
  .swiper{width:100%;height:300px;margin-left:auto;margin-right:auto}
  .swiper-slide{background-size:cover;background-position:center}
  .mySwiper3{height:80%;width:100%}
  .mySwiper4{height:20%;box-sizing:border-box;padding:0}
  .mySwiper3 .swiper-slide{width:25%;height:100%;opacity:.4;}
  .mySwiper3 .swiper-slide-thumb-active{opacity:1;border: 1px solid var(--color1);}
  .swiper-slide img{display:block;width:100%;height:50%;object-fit:cover;}
    .info{position: absolute;width: 100%;bottom: 0;left: 0;z-index: 4;background-color: rgba(0,0,0,0.7);text-align: left;color: var(--whitecolor);
      p{-webkit-line-clamp: 4;-webkit-box-orient: vertical;overflow: hidden;text-overflow: ellipsis;word-wrap: break-word;display: -webkit-box;font-size: calc(20px * var(--ratio));}
    }
    .rank{display: flex;align-items: center;justify-content: start;align-content: center;background-color: #5b6078;border-radius:15px;position: absolute;top: 1rem;left: 1rem;z-index: 4;
      i.fa{background-color: var(--colorok);border-radius: 10%;color: var(--color2);}
      h5{display: flex;flex-direction: column;
        span.point{color: var(--color3);}
      }
    }
}
.btn-trynow{margin: 0 auto;border-radius: calc(20px * var(--ratio));background-color: var(--colorlink);}

.specialoffer{
  .btn-3spec{
    a{
      img{width: 100%;border-radius:calc(30px * var(--ratio));}
      &:hover{filter: brightness(120%);}
    }
    
  }
}
.fix-menubot{width: 100%;background-color: var(--color4);border-top-left-radius:calc(20px * var(--ratio));border-top-right-radius:calc(20px * var(--ratio));border-top:1px solid var(--color3);
  ul{list-style: none;display: flex;flex-direction: row;padding:0;
    li{width: 14.28%;
      a{display: flex;align-items: center;flex-direction: column;justify-content: center;color: var(--color3);font-size: calc(16px * var(--ratio));}
      a.active{color: var(--color1);}
    }
  }
}
/*==End Mobile Content==*/

/*======Category================================*/
.cate {
  .newshot{background: transparent;border-radius:0;
    .cate-img{border-radius: calc(20px * var(--ratio));}
    .tag{
      .taggame{padding: calc(4px * var(--ratio)) calc(8px * var(--ratio));display:inline-block;background-color: var(--color4);color: var(--colorerror);border-radius:calc(4px * var(--ratio));
        &:hover{text-decoration: underline;}
      }
    }
  }
  .featured{border-radius: 0;
    .mySwiper4{border-radius: calc(20px * var(--ratio));}
  }
}
.contentmain{
  .postnews{background-color: var(--color4);border-radius: calc(20px * var(--ratio));
    p{font-size: calc(15px * var(--ratio));}
  }
}
.headnews{
  .breadcrumb-item+.breadcrumb-item::before{color: var(--colorerror);}
}
.postmb{
  .newshot {
    p{color: var(--whitecolor);}
    p.sen{color: var(--color3);}
    .tag{
      p{color: var(--color3);}
      .taggame{padding: calc(4px * var(--ratio)) calc(8px * var(--ratio));display:inline-block;background-color: var(--color2);color: var(--colorerror);border-radius:calc(4px * var(--ratio));
        &:hover{text-decoration: underline;}
      }
    }
  }
}
.newsout{background-color: #232530;border-radius: calc(30px * var(--ratio));}
.recentapps{
  h3.no-span {overflow: hidden;display: table;white-space: nowrap;
    &:after {border-top: 1px solid #8a8b91;content: '';display: table-cell;position: relative;top: 0.8em;width: 90%;}
   
    &:after { left: 1.5%; }
}
  .swiper{
    .card{overflow: hidden;border-radius: calc(20px * var(--ratio));background-color: var(--color4);
      .card-body{
        .card-title{-webkit-line-clamp: 3;-webkit-box-orient: vertical;overflow: hidden;text-overflow: ellipsis;word-wrap: break-word;display: -webkit-box;color: var(--whitecolor);}
      }
    }
  }
}

/*==News===*/
.post-content{
  hr{opacity: 0.05;}
  ul.btn-social{list-style: none;padding: 0;display:flex;align-items: center;
    li{margin-right: calc(20px * var(--ratio));
      a{display: block;background-color: var(--color4);padding: calc(5px * var(--ratio)) calc(9px * var(--ratio));color: var(--color3);font-size: calc(16px * var(--ratio));
        &:hover{background-color: var(--color2);}
      }
    }
  }
}
.authornews{
  h3{color: var(--color1);}
  img{width: 100%;max-height: 410px;object-fit: cover;}
  ul{list-style: none;display: flex;justify-content: space-between;padding: 0;
    li{
      span{color: var(--color3);}
    }
  }
}
.titlemb{
  ul{justify-content: start;
    li{margin-right: 1rem;}
  }
}

/*==Contact Us====*/
.contactus{
  .post-content{display: flex;background-color: var(--color2);
    .faqcontent{background-color:#34384a;
      ul{padding: 0;list-style: none;
        li{
          a{color: var(--whitecolor);
            &:hover{text-decoration: underline;}
          }
        }
      }
    }
  }
}
.sendinfo{
  .btn-send{background-color: var(--colorlink);font-size: calc(22px * var(--ratio));}
  input, select{background-color:#34384a;border: none;color: var(--color3);}
}

/*====Market=========*/
.market{
  .toplist{display: flex;align-items: center;justify-content: start;align-content: center;
    a{background-color: var(--color4);color: var(--whitecolor);display: flex;align-items: center;padding:.47rem .75rem;border-radius:4px;
      .ico{font-size: calc(16px * var(--ratio));}
      &:hover{background-color: var(--color2);}
    }
    .form-select{background-color: var(--color4);color: var(--whitecolor);border: none;}
  }
  table{font-weight:300;font-size: 13px;min-width:1300px;
    thead{
      th{vertical-align: middle;text-align: center;}
    }
    th, td{font-weight:400;background-color: transparent;border-bottom-color:#292c38 !important;vertical-align: middle;align-items: center;text-align: center;}
    tbody{
      tr{
        img.icon-coin{width: 22px;height: 22px;max-width: 100%;object-fit: cover;}
        img.graph{max-width: 164px;}
        td{align-items: center;justify-content: center;
          .volume{display: flex;flex-direction: column;justify-content: center;align-items: flex-end;}
          .progress{height: 0.3rem;background-color: var(--color4);
            .progress-bar{background-color: var(--color3);}
          }
        }
      }
    }
  }
}

/*=======Login==========*/
.signin{
  form{
    input{position: relative;background-color:#34384a;border-color: var(--color3);color: var(--color3);}
    i.bi{position: absolute;right: 20px;top: 8px;z-index: 5;cursor: pointer;}
    .pass{position: relative;}
    .btn-send{background-color: var(--colorlink);border: none;}
    a{color: var(--whitecolor);}
    .iconotp{max-width: calc(100% * var(--ratio));}
    .btn-loginsocial{background-color:#d4d5da;color: var(--color4);border:none;}
    .fa-facebook{color: var(--colorlink);}
    .fa-google{color: #ff4b26;}
    .fa-telegram{color: #039be5;}
    .form-control:focus{background-color: var(--color4);color: var(--color3);}
  }
  
  h2.otp{background-color: #494c55;border: 2px solid #d4d5da;border-radius:calc(8px * var(--ratio));}
  h6.no-span {
    display: table;
    white-space: nowrap;overflow: hidden;
    &:before, &:after {
      border-top: 1px solid #272a37;
      content: '';
      display: table-cell;
      position: relative;
      top: 0.5em;
      width: 50%;
    }
    &:before { right: 1.5%; }
    &:after { left: 1.5%; }
}
}
.chats{height: 100%;margin-bottom:calc(100px * var(--ratio));
  .tab-pane{position: relative;height: 100%;}
  h4{position: relative;align-items: center;
    i.fa{position: absolute;top: 50%;right: 0;transform: translateY(-50%);}
    i.back{left: 0;right: auto;}
  }
  h4.titlebox{display: flex !important;flex-direction: column;font-size: calc(32px * var(--ratio));
    .pidol{font-size: calc(22px * var(--ratio));color: var(--color1);}
  }
  .addchat{position: fixed;bottom: 100px;left: 50%;transform: translateX(-50%);width: 90%;max-width: 640px;z-index: 100;}
  .card{background-color: var(--color4) !important;position: relative;
    .row{align-items: center;}
    .avachat{max-width: calc(132px * var(--ratio));}
    .card-body{
      .card-title, .card-text{display: flex;justify-content: space-between;align-items: center;}
      .pidol{color: var(--color1);}
    }
    &:focus{background-color: var(--color4) !important;}
  }
  ul.nav{
    li.nav-item{background-color: var(--color4);border-radius: calc(15px * var(--ratio));
      .nav-link{color: var(--whitecolor);}
      .nav-link.active{border-radius: calc(15px * var(--ratio));background-color: var(--whitecolor);color: var(--color4);}
      &:first-child{border-top-right-radius: 0 !important;border-bottom-right-radius: 0;}
      &:last-child{border-top-left-radius: 0 !important;border-bottom-left-radius: 0;}
    }
  }
  .messenger{background-color: transparent !important;
    .card-body{
      .card-text{background-color: var(--color4);display: inline-block;padding: calc(1rem * var(--ratio)) calc(2rem * var(--ratio));border-radius: calc(30px * var(--ratio));border-top-left-radius: 0 !important;}
      h5.card-title{
        .text-muted{font-size: calc(18px * var(--ratio));}
      }
    }
    .on{
      .avames{display: block;position: relative;
          img{max-width: 100%;object-fit: cover;position: relative;}
          &::before{position: absolute;content: "";width: calc(20px * var(--ratio));height: calc(20px * var(--ratio));background-color: var(--colorok);border-radius: 50%;top: 6px;left: 6px;z-index: 5;}
      }
    }
    .off{
      .avames{
        &:before{background-color: var(--color3);}
      }
    }
  }
  .mymessenger{
    .card-body{
      .card-text{background-color: var(--colorlink);}
    }
  }
}

.chattext{display: flex; align-items: center;justify-content: center;align-content: center;
  .input-group{
    input{background-color: #62677c;border:none;color: var(--whitecolor);}
    .input-group-text{background-color: #62677c;color: var(--whitecolor);border: none;}
  }
  a{color: var(--whitecolor);
    i.fa{font-size: calc(30px * var(--ratio));}
  }

}



@media (max-width: 1200px) {
  .navigation-fix{display: none;}
  .maincontent{margin-left: 0;margin-bottom: calc(150px * var(--ratio));}
  .mb{display: block;}
  .desktop{display: none;}
  .maincontent .showdemo{max-width: 640px;margin: 0 auto;}
  .mw640{max-width: 640px;margin: 0 auto;}
  .newsout{background-color: transparent;}
  .newspost{background-color: var(--color4);border-radius: calc(30px * var(--ratio));overflow: hidden;}
  .market{background-color: #232530;}
  .contactus .post-content{background-color: transparent;}
  .register2, .signin h6.text-mem, .signin .btn-mem{margin-top: calc(8rem * var(--ratio)) !important;}
  .signin .form .mb-short{margin-top: calc(10rem * var(--ratio)) !important;}
}

@media (max-width: 768px) {
  :root {
    --ratio:1;
  }
}
@media (max-width: 540px) {
  :root {
    --ratio:0.8;
  }
}
@media (max-width: 414px) {
  :root {
    --ratio:0.64;
  }
}
@media (max-width: 375px) {
  :root {
    --ratio:0.58;
  }
}